body {
    margin: 0;
    background-color: black;
    font-family: "Inter", sans-serif;
}

header {
    text-align: center;
    width: 550px;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #6943FF;
    color: #FFFFFF;
}

h1 {
    font-size: 28px;    
}

.input-field-styling {
    border: #B295FF 2px solid;
    height: 83px;
    width: 117px;
    background-color: #6943FF;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 58px;
    font-weight: 800;
    text-align: center;
}

.input-field-styling::placeholder {
    color: #FFFFFF;
}

.input-field-styling:focus-visible {
    outline: none;
    box-shadow: inset 0 0 5px #FFFFFF;  
}

.input-number {
    display: flex; 
    flex-direction: column;
    align-items: center;
}

.input-btn-styling {
    font-weight: 400;
    font-size: 16px;
    color: #3d3d3d;
    height: 42px;
    width: 117px;
    border-radius: 5px;
    border: none;
    margin: 20px;
}

.all-containers {
    padding: 20px 0px 20px 0px;
    margin: auto;
    width: 550px;
    background-color: #1F2937;
}

.container {
    text-align: center;
    height: 109px;
    width: 500px;
    background-color: #273549;
    display: block;
    margin-left: auto;
    margin-bottom: 15px;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title-styling h2 {
    font-size: 20px;
    color: #CCC1FF;
    margin-bottom: 0px;
}

.title-styling p {
    font-size: 14px;
    color: #FFFFFF;
}