body {
    margin: 0;
    background-color: black;
}

header {
    text-align: center;
    width: 550px;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #6943FF;
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #FFFFFF;
}
.input-number {
    display: flex; 
    flex-direction: column;
    align-items: center;
}

.all-containers {
    padding: 20px 0px 20px 0px;
    margin: auto;
    width: 550px;
    background-color: #1F2937;
}

.container {
    text-align: center;
    height: 109px;
    width: 500px;
    background-color: #273549;
    margin: 10px;
    color: #CCC1FF;
    display: block;
    margin: auto;
}